.footer {
    background-color: #93DBFF; 
    padding: 20px 0;
    text-align: center;
    width: 100vw; 
}

.footer-logo {
    max-width: 200px; 
    height: auto;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        max-width: 150px; 
    }
}
